[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rOCEAN"]
	path = rOCEAN
	url = https://github.com/mitra-ep/rocean
[submodule "rSEA"]
	path = rSEA
	url = https://github.com/mitra-ep/rsea
